*{
  padding: 0;
  margin: 0%;
}
body{
  background-image: linear-gradient(to right,rgb(114, 94, 94),rgb(189, 182, 182));
  color: white;
}
form{
  margin-top: 10px;
}
label{
  margin-bottom: 20px;
}
input{
  margin-bottom: 20px;
  width: 60%;
  border-radius: 5px;
  border: 0cm;
  padding: 3px 10px;
}
input:focus{
  outline: none;
  border-color: none;
}
.login-signup{
  margin-top: 100px;
  height: fit-content;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.49);

  border-radius: 20px;
}
.form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: 100%;
}

.App{
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100vw;
}